//Brand fill Colors:
//ACCENT 1
$accent-1-1:#2D99FF;
$accent-1-2:#0455A4;
$accent-1-3:#093B6D;
$accent-1-4:#0E2943;
//ACCENT 2
$accent-2-1:#F79F1E;
$accent-2-2:#CA8116;
$accent-2-3:#93621A;
$accent-2-4:#624D18;
//ACCENT 3
$accent-3-1:#49C0B4;
$accent-3-2:#41958C;
$accent-3-3:#41958C;
$accent-3-4:#2E3738;
//ACCENT 4
$accent-4-1:#4346D3;
$accent-4-2:#373AAE;
$accent-4-3:#222491;
$accent-4-4:#131553;
$accent-4-5:#0C0D27;
//ACCENT 5
$accent-5-1:#E62237;
$accent-5-2:#B62030;
$accent-5-3:#83212B;
$accent-5-4:#541C22;
//GREYS
$grey-1:#E5E5E5;
$grey-2:#3F4357;
$grey-3:#15161A;
$grey-4:#1C1E24;
$grey-5:#0D0F0F;
//Portfolio colors:
//STORE LOCATOR
$storeLocatorAccent1-1:#C3EAF6;
$storeLocatorAccent1-3:#4DC0E6;
$storeLocatorAccent1-5:#2E738A;
//B2B LEADGEN
$b2bLeadgenAccent1-1:#F8BC18;
$b2bLeadgenAccent2-1:#28388F;
//PUMELLO
$pumelloAccent-1-1:#D72D23;
$pumelloAccent-1-3:#7B1404;
$pumelloAccent-1-5:#74190B;
$pumelloAccent-2-1:#9FB83B;
$pumelloAccent-2-3:#5C682C;
$pumelloAccent-3-1:#f8ffcc;