@mixin background-opacity($color, $opacity: 0.6) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transform($transforms...) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
@mixin transform-origin ($transform-origin...) {
    -moz-transform-origin: $transform-origin;
	     -o-transform-origin: $transform-origin;
	    -ms-transform-origin: $transform-origin;
	-webkit-transform-origin: $transform-origin;
          transform-origin: $transform-origin;
}
@mixin clear() {
	overflow:hidden;
	clear:both;
	float:none;
}

// Custom paragraph rule
@mixin p-rule($font-color, $p-rule-color){
	display: inline;
	padding-right: 10px;
	color:$font-color;
	background: linear-gradient($p-rule-color, $p-rule-color);
	background-size:2.5px 2.5px;
	background-repeat:repeat-x;
	background-position:0 95%;
	@include below($small){
		padding: 0 10px;

	}
}