/********Basic Sec CSS********/
.pad-zero {
	padding:0;
}
.pad-left-zero {
	padding-left:0;
}
.pad-right-zero {
	padding-left:0;
}

.sec-pad{
	padding-top:80px;
	padding-bottom:80px;
}
.sec-pad-sm{
	padding-top:50px;
	padding-bottom:50px;
}
.sec-pad-xs{
	padding-top:30px;
	padding-bottom:30px;
}
.sec-pad-top{
	padding-top:80px;
}

.sec-pad-top-sm{
	padding-top:50px;
}
.sec-pad-top-xs{
	padding-top:30px;
}

.sec-pad-bottom {
	padding-bottom:80px;
}

.sec-pad-bottom-sm{
	padding-bottom:50px;
}

.sec-pad-bottom-xs{
	padding-bottom:30px;
}

.sec-pad-left{
	padding-left:150px;
}

.sec-pad-right{
	padding-right:150px;
}

.pad-top-15{
	padding-top:15px;
}

.pad-top-7{
	padding-top:7px;
}

.pad-bottom-80{
	padding-bottom:80px;
}
.pad-bottom-35{
	padding-bottom:35px;
}
.margin-top-sm {
	margin-top:50px;
}
.mb-sm {
	margin-bottom:50px;
}

.mb-xs {
	margin-bottom:30px;
}

.margin-top-150 {
	margin-top:150px;
}

.margin-top-80 {
	margin-top:80px;
}

.margin-top-40 {
	margin-top:40px;
}

.mb-80 {
	margin-bottom:80px;
}
.margin-top-20 {
	margin-top:20px;
}

.mt--none {
	margin-top:0 !important;
}
.mb--none {
	margin-bottom:0 !important;
}
.float-left {
	float:left;
}
.float-right {
	float:right;
}
.opacity-hide {
	opacity:0;
	visibility:hidden;
}
.center-div {
	margin:0 auto;
	overflow:hidden;
	float:none;
	clear:both;
}